.headline{
  text-align: center;
}

footer{
  text-align: center;
  background-color: black;
  color: white;
  width: 100%;
}

body{
  font-family: "Century Schoolbook";
}

h1, h2{
  font-family: "American Typewriter" serif;
}

h1{
  font-size: 50px;
  margin: 0 auto;
}

p, figcaption{
  font-size: 20px;
  text-align: left;
}

byline{
  font-size: 20px;
  margin: 0 auto;
}

.graphics{
  font-family: "Century Schoolbook";
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-top:1px solid #cdcdcd;
  border-bottom:1px solid #cdcdcd;
}

ul.navbar-nav{
  margin-left: auto;
}

.navbar {
font-family: "American Typewriter";
width: 100%;
}

.navbar-brand{
  font-size: 1.25em;
}

figcaption{
  text-align: center;
  font-size: 15px;
}

.main-image{
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  height: auto;
}

h2{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.graphics h2{
  margin-top: 0px;
}

.spines{
  display: block;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 2px;
  margin-right: 0px;
}

.footer{
  padding: 25px;
  background-color: #404040;
  color: white;
  font-family: "American Typewriter";
  width: 100%;
  text-align: center;
}

#AT{
  font-family: "American Typewriter";
}

a:link{
  color: gray;
}

a:visited{
  color: #a34822;
}
