/*styles for my resume */

body, h1, h2, h3, h4, h5, p, li, div{
  font-family: "Times New Roman", serif;
  font-size: 1em;
  color: #444
}

.container{
  background-color: #D6EAF8;
}

p{
  line-height: 1.25em;
  margin: 0em;
}


/*banner name*/
.title{
  font-size: 1.5em;
  color: #33485e;
  text-transform: uppercase;
}

/*section names*/
.section-header{
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 400;
  max-width: 400px;
  text-align: center;
}

/*job titles*/
.job-title{
  font-weight: 700;
  font-size: 1em;
}

/*place of work*/
.organization{
  font-weight: 400;
  font-size: 1em;
  margin-top: 2px;
}

/*dates*/
.date{
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
  margin: 0 0 0 0;
}

.description{
  margin-top: -15px;
}

#education{
  margin: 40 0 0 0;
}

#affiliations{
  margin: 40 0 0 0;
}

#awards{
  margin: 40 0 0 0;
}

#skills{
  margin: 40 0 0 0;
}

#title{
  font-weight: 700;
  text-align: center;
  width: 60%;
  min-width: 300px;
  margin: 20 auto 0 auto;
  font-size: 1.5em;
  color: #33485e;
  text-transform: uppercase;
}

#container{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 50 px;
}

ul{
  margin-left: -15px
}

.border-right{
  border-right: 100px solid black;
}

.background{
  background-color: #D3D3D3;
}

.navbar{
  width: 100%;
}

.banner{
  width: 100%
}
