/*styles for my resume */

body, h1, h2, h3, h4, h5, p, li, div{
  font-family: "Open Sans", arial, sans-serif;
  font-size: 1em;
  color: #444
}

p{
  line-height: 1.25em;
  margin: 0em;
}

#name{
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/*banner name*/
.title{
  font-size: 1.5em;
  color: #33485e;
  text-transform: uppercase;
}

/*section names*/
.section-header{
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 0px 20px 0px;
  max-width: 400px;
}

/*job titles*/
.job-title{
  font-weight: 700;
  font-size: 1em;
}

/*place of work*/
.organization{
  font-weight: 400;
  font-size: 1em;
  margin-top: 2px;
}

/*dates*/
.date{
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
  margin: 2 0 0 0;
}

/*contact info, skills, education font size*/
.menu{
  font-size: 1em;
  margin padding: 0px;
  text-align: center;
}

.menu li{
  display: inline;
}


.description{
  margin: 10 0 20 0;
}

#education{
  margin: 40 0 0 0;
}

#affiliations{
  margin: 40 0 0 0;
}

#awards{
  margin: 40 0 0 0;
}

#skills{
  margin: 40 0 0 0;
}

#title{
  font-weight: 700;
  text-align: center;
  width: 60%;
  min-width: 300px;
  margin: 20 auto 0 auto;
  font-size: 1.5em;
  color: #33485e;
  text-transform: uppercase;
}

.mission-statement{
  width: 60%;
  min-width: 300px;
  margin: 0 auto 30 auto;
}

#container{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 50 px;
}
