#content{
  margin: 0 auto;
  max-width: 900px;
}

#byline{
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  font-style: italic;
}

h1{
  font-size: 32px;
  font-family: Helvetica, sans-serif;
  background-color: #800000;
  color: #DAA520;
}

p{
  font-family: Georgia, serif;
  font-size: 18px;
}

.caption{
  font-style: italic;
  font-size: 14px;
  color: gray;
}

.image{
  width: 600px;
  margin: 0 auto;
}

blockquote{
  font-size:26px;
  color: #DAA520;
  background-color: #800000;
  padding: 20px;
  width: 100%;
  margin: 40px auto;
}
